---
- name: Add Google signing key
  apt_key:
    url: https://dl-ssl.google.com/linux/linux_signing_key.pub
    state: present
- name: Add the Google repository
  apt_repository:
    repo: deb http://dl.google.com/linux/chrome/deb/ stable main
    state: present
    filename: 'google-chrome'
- name: Install google-chrome-beta
  apt: name=google-chrome-beta state=installed
