---
- name: Install VIM
  apt:
    name: vim
    state: installed
- name: Config Vim
  copy:
    src: .vimrc
    dest: "{{ local_home }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
- name: Set vim as default editor
  alternatives:
    name: editor
    path: /usr/bin/vim
